PORT=5000
MONGODB_URI=mongodb+srv://danish6677:yycchhttzzxxooii@cluster0.yknjxe4.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key

# Cloudflare R2 Image Uploads
R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=your_r2_bucket_name
R2_PUBLIC_URL=https://pub-xxxxxxxx.r2.dev
